@font-face {
  font-family: 'toutiao';
  /* project id 2259737 */
  src: url('//at.alicdn.com/t/font_2259737_hgxszz0zola.eot');
  src: url('//at.alicdn.com/t/font_2259737_hgxszz0zola.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2259737_hgxszz0zola.woff2') format('woff2'), url('//at.alicdn.com/t/font_2259737_hgxszz0zola.woff') format('woff'), url('//at.alicdn.com/t/font_2259737_hgxszz0zola.ttf') format('truetype'), url('//at.alicdn.com/t/font_2259737_hgxszz0zola.svg#toutiao') format('svg');
}
